body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 80%;
    margin: 50px auto;
    background-color: rgba(229, 255, 191, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.container h1 {
    font-size: 2.5em;
    color: #333333;
    text-align: center;
}

p {
    font-size: 1em;
    color: #666666;
    line-height: 1.6;
}

.wiki-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 80%;
    margin: 50px auto;
    background-color: rgba(195, 251, 200, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.container h1 {
    font-size: 2.5em;
    color: #333333;
    text-align: center;
}

.container h2 {
    font-size: 2em;
    color: #333333;
}

p {
    font-size: 1em;
    color: #666666;
    line-height: 1.6;
}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #0d900f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9bb316;
}

/*Table Styling*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1.5px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child():hover {
    background-color: #ddd;
}


/* NAVIGATION BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
    font-size: large;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.nav-links a:hover {
    background-color: #128a3cc7;
}

/* Screen size updater */  
@media screen and (max-width: 768px) {  
    .nav-links {
        display: flex;
        gap: 8px;
    }

    .nav-links a {
        /* text size, padding, and border radius decreased */
        font-size: 1rem;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
}